<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>MGPS</title>

    <link rel="icon" href="" sizes="32x32">
    <link rel="icon" href="" sizes="192x192">
    <link rel="apple-touch-icon" href="">
    <meta name="msapplication-TileImage" content="">

    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="./assets/css/reset.min.css">
    <link rel="stylesheet" href="./assets/css/common.min.css">
    <link rel="stylesheet" href="./assets/css/main.min.css">
    <link rel="stylesheet" href="./assets/css/responsive.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
    <script type="text/javascript" src="./js/scrollify.js"></script>
    <script type="text/javascript" src="./js/test.js"></script>
</head>
<body>

<div class="wrap">
    <!--header-->
    <header class="header">
        <div class="header_inner">
            <h1 class="header_logo"><a href="">MGPS</a></h1>
            <div class="gnb_wrap">
                <nav class="gnb">
                    <h2 class="screen_reader_text">메인메뉴</h2>
                    <ul class="menu" role="menu">
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_1">About Me</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_2">My GENI Code</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_3">My Geni Music</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_4">My Geni Avatar</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_5">My Geni PunkPixel</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_6">My Geni CryptoPixel</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_7">About MGPS</a>
                        </li>
                        <li class="menu_list" role="menuitem">
                            <a href="#sec_8">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="snb_btn">
                <button type="button" class="closed">
                    <span aria-hidden="true">
                        <i class="lines_button"><i class="lines"></i></i>
                    </span>
                </button>
            </div>
        </div>
    </header>
    <!--//header-->
