<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Home - Moss Genomics</title>
    <!--font-->
    <link rel="stylesheet" id="nectar_default_font_open_sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700&subset=latin%2Clatin-ext" type="text/css" media="all">
    <link rel="stylesheet" id="redux-google-fonts-salient_redux-css" href="https://fonts.googleapis.com/css?family=Poppins%3A400%7CRubik%3A500%2C400%7CRaleway%7CLibre+Baskerville%3A400italic&subset=latin&ver=1636744796" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/magnific-popup.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>

<div class="wrap side-widget-closed">
    <!--header-->
    <header class="header">
        <div class="header-inner">
            <h1 class="logo">
                <a href="./"><span class="screen-reader-text">Moss genomics</span><img src="./img/common/moss-genomics.png" alt=""></a>
            </h1>
            <nav class="nav">
                <h2 class="screen-reader-text">main menu</h2>
                <ul class="menu">
                    <li class="active"><a href="./" title="">HOME</a></li>
                    <li><a href="./team.html" title="">TEAM</a></li>
                    <li><a href="./investors.html" title="">INVESTORS</a></li>
                </ul>
            </nav>
            <div class="social-group">
                <ul>
                    <li>
                        <a target="_blank" href="https://twitter.com/Mossgenomics">
                            <span class="screen-reader-text">twitter</span><i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/moss-genomics">
                            <span class="screen-reader-text">linkedin</span><i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/mossgenomics/">
                            <span class="screen-reader-text">instagram</span><i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://vm.tiktok.com/ZM84VBEQY/">
                            <span class="screen-reader-text">tiktok</span><i class="fab fa-tiktok"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="snb-btn">
                <button type="button" class="closed">
                        <span aria-hidden="true">
                            <i class="lines-button x2"><i class="lines"></i></i>
                        </span>
                </button>
            </div>
        </div>
    </header>
    <!--//header-->
