/*
Description: Main styles
*/
/*	ex) @include transform( rotate(90deg), translate(0,9px), // ... add more transforms if you need); */
/* ex) @include transition(background-color 1s 2s, color 2s); */
/* ex) @include breakpoint(large){} */
/*
 ex)
    // without arguments (default)
	div {
	   @include arrow();
	}

	// with custom arguments
	div {
	   @include arrow(up, 10px, #efefef);
	}
*/
.container {
  margin: 0 auto;
  max-width: 1200px; }

.screen_reader_text {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%); }

.col_group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .col_group.col_ai_center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .col_group [class^="col_"] {
    margin-right: 3%; }
    .col_group [class^="col_"]:last-child {
      margin-right: 0%; }
  .col_group .col_1 {
    width: 5.58333%; }
  .col_group .col_2 {
    width: 14.16667%; }
  .col_group .col_3 {
    width: 22.75%; }
  .col_group .col_4 {
    width: 31.33333%; }
  .col_group .col_5 {
    width: 39.91667%; }
  .col_group .col_6 {
    width: 48.5%; }
  .col_group .col_7 {
    width: 57.08333%; }
  .col_group .col_8 {
    width: 65.66667%; }
  .col_group .col_9 {
    width: 74.25%; }
  .col_group .col_10 {
    width: 82.83333%; }
  .col_group .col_11 {
    width: 91.41667%; }
  .col_group .col_12 {
    width: 100%; }

.img_wrap img {
  width: 100%; }

.ta_c {
  text-align: center !important; }

.radio {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden; }
  .radio input[type=radio] {
    position: absolute;
    left: -99999px; }
    .radio input[type=radio]:checked + span:after {
      display: block; }
  .radio span {
    display: block;
    position: relative;
    padding-left: 25px;
    min-height: 18px;
    font-size: 16px;
    color: #414141;
    vertical-align: middle;
    cursor: pointer; }
    .radio span:before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #b4b9be;
      background: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    .radio span:after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      width: 10px;
      height: 10px;
      background: #1ABB9C;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

.checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden; }
  .checkbox input[type=checkbox] {
    position: absolute;
    left: -99999px; }
    .checkbox input[type=checkbox]:checked + span:after {
      display: block; }
  .checkbox span {
    display: block;
    position: relative;
    padding-left: 25px;
    min-height: 20px;
    font-size: 12px;
    color: #414141;
    vertical-align: middle;
    cursor: pointer; }
    .checkbox span:before {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #b4b9be;
      background: #fff;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .checkbox span:after {
      display: none;
      content: "";
      position: absolute;
      top: 6px;
      left: 4px;
      width: 10px;
      height: 10px;
      background: #1ABB9C; }

input[type=text],
input[type=password] {
  padding: 0 12px;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #E0E0E0;
  font-size: 16px;
  color: #444;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input[type=text].hasDatepicker,
  input[type=password].hasDatepicker {
    background: url(../img/common/date-icon.png) no-repeat 97% 50%; }

textarea {
  padding: 12px;
  width: 100%;
  height: 137px;
  background: #fff;
  border: 1px solid #E0E0E0;
  font-size: 16px;
  color: #444;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

select {
  display: inline-block;
  padding: 0 12px;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #E0E0E0;
  font-size: 14px;
  color: #444;
  resize: none;
  vertical-align: middle; }

.input_block {
  margin: 0 0 20px; }
  .input_block .input_txt {
    margin-bottom: 5px;
    font-size: 16px;
    color: #444; }
  .input_block .input_block {
    margin: 0; }

.input_inline_block {
  display: inline-block;
  vertical-align: middle; }
  .input_inline_block input[type=text] {
    width: auto; }

.btn {
  display: inline-block;
  position: relative;
  margin: 0 5px 5px 0;
  padding: 5px 12px;
  border: 1px solid transparent;
  background: #dedede;
  font-size: 13px;
  color: #414141;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn:hover {
    background: #BDBDBD; }
  .btn_lg {
    padding: 8px 16px;
    font-size: 18px; }
  .btn_sm {
    padding: 5px 15px;
    font-size: 12px; }
  .btn_xs {
    padding: 2px 5px;
    font-size: 11px; }
  .btn_block {
    display: block;
    margin: 0;
    width: 100%; }
  .btn_primary {
    background: #008390;
    color: #fff; }
    .btn_primary:hover {
      background: #006C79; }
  .btn_success {
    background: #5cb85c;
    color: #fff; }
    .btn_success:hover {
      background: #4F9B4F; }
  .btn_warning {
    background: #f0ad4e;
    color: #fff; }
    .btn_warning:hover {
      background: #CF8C4E; }
  .btn_danger {
    background: #d9534f;
    color: #fff; }
    .btn_danger:hover {
      background: #BB534F; }
